click==8.1.8
torch==2.6.0
numpy==1.26.4
stable-baselines3[extra]==2.7.1
gymnasium[atari,accept-rom-license]==1.2.3
minigrid==3.0.0
wandb==0.19.6
psutil==6.1.1
tensorboard==2.18.0
seaborn==0.13.2
ale-py==0.11.2
pygame>=2.6.0
